.cart-enter {
  opacity: 0.01;
  transform: translateX(100%);
}
.cart-enter.cart-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.cart-leave {
  opacity: 1;
  transform: translateX(0);
}
.cart-leave.cart-leave-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
