@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.btn {
  background-color: #000;
  border: none;
  font-weight: 600;
  color: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.75;
}
/* Header styling */
header {
  color: #fff;
  width: 100%;
  padding: 2rem 5rem;
  position: absolute;
}
.navbar-container {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  margin-left: 5rem;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}
.nav a:hover {
  border-bottom: 0.2rem solid #fff;
}
/* Main styling */
main {
  color: #fff;
  overflow: visible;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)),
    url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2190&q=80");
}
.home-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-size: 5.5rem;
  font-weight: 900;
  width: 60rem;
  margin-bottom: 7rem;
}
.main-btn {
  cursor: pointer;
  background: rgba(3, 3, 3, 1);
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.48);
  font-size: 2rem;
  font-weight: 700;
  border-radius: 2rem;
  color: #fff;
  border: none;
  padding: 2rem 2.5rem;
}
.main-btn:hover {
  background-color: #3d3b3b;
}
/* More info section styling */
.more-info {
  color: #030303;
  height: 500px;
  display: flex;
  background-color: #e3e1dc;
  padding: 7rem 5rem;
  justify-content: center;
  align-items: center;
}
.books {
  width: 40%;
  border-radius: 1rem;
  margin-right: 4rem;
}
.more-info-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.more-info-para {
  font-size: 2.3rem;
  width: 65%;
  font-weight: 600;
}
/* Shop Styling */
.shop {
  background-color: #e3e1dc;
  height: 1350px;
  padding-top: 7rem;
}
.book-container {
  margin-top: 2rem;
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 9rem;
  grid-column-gap: 5rem;
  justify-items: center;
}
.card {
  width: 90%;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}
.card-image {
  width: 50%;
  margin-bottom: 1rem;
}
.card-heading {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.card-label {
  margin-right: 1rem;
  margin-bottom: 0.6rem;
}
.card-input {
  width: 3rem;
  margin-left: 1rem;
}
.card-price {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-btn {
  background-color: #000;
  border: none;
  font-weight: 600;
  color: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
}
.card-btn:hover {
  opacity: 0.75;
}
.cart-status {
  background-color: #fff;
  width: 15rem;
  position: sticky;
  top: 1px;
  left: 100%;
  border-radius: 5px;
  border: 1px lightgray solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cart-total {
  margin-bottom: 0.75rem;
}
.show-cart {
  padding: 0.5rem 1.5rem;
}
/* Cart styling */
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 40rem;
  padding: 2rem;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 30rem;
}
.cart-title {
  font-size: 2rem;
}
.cart-items {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.item-list {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: start;
  grid-column-gap: 2rem;
}
.item-img {
  width: 85%;
  justify-self: center;
  order: -1;
  grid-row: 1 / -1;
}
.item-title {
  align-self: flex-end;
}
.item-sub-btn,
.item-add-btn {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.item-input {
  width: 3rem;
  margin-right: 0.5rem;
}
.product-total {
  align-self: start;
}
.h-rule {
  margin: auto 0 1rem;
  width: 85%;
  border: 1px solid #c4c4c4;
}
.total {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.cart-btns {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
/* Footer styling */
footer {
  height: 6rem;
  background-color: #030303;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}
.footer-link {
  border-bottom: 1px solid #fff;
}
/* Cart CSSTransitionGroup Styling */
.cart-enter {
  opacity: 0.01;
  transform: translateX(100%);
}
.cart-enter.cart-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.cart-leave {
  opacity: 1;
  transform: translateX(0);
}
.cart-leave.cart-leave-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
